body {
  font-family: "Arial, sans-serif";
}

h1 {
  font-size: 38px;
}

h2{
  font-size: 32px;
}
.ingredients-list {
  list-style: square;
}

ol {
  list-style: lower-roman;
}
header > img {
  width : 100px;
}
ul li a {
  text-decoration: none;
  color: inherit;
}
body{
  background-color: wheat;
}

*{
  line-height: 1.5;
}

input, select{
  cursor: pointer;
  outline: none;
}

form input:last-child {
    background-color: gold;
}

ol li:nth-of-type(2n) {
    background-color: whitesmoke;
}

input[type="radio"] {
    -webkit-appearance: none;
    width: 27px;
    height: 27px;
    background-image: url(stars.png);
    vertical-align: bottom;
}
input[type="radio"]:checked {
  background-image: url(stars2.png);
}

input[type="text"]{
  width: 175px;
}

input:last-child:hover {
  -webkit-filter: brightness(90%);
}

li{
  margin-top: 15px;
  margin-bottom: 15px;
}

body{
  width: 80%;
  margin: 0 auto
}


section{
  width: 60%;
  display: inline-block;
  vertical-align: top;
}

nav{
  display: inline-block;
  float: right;
}

aside{
  width: 30%;
  margin-right: 15px;
}

select{
  margin: 10px 0;
    width: 180px;
}

.inline {
  display: inline;
  padding: 20px;
}

.pic{
  display: inline-block;
}

.left{
  float:left;
}

.cf:after{
  content = ""
  clear:both;
  display: block;
}
