body {
  font-family: "Arial, sans-serif";
}

h1 {
  font-size: 38px;
}

h2{
  font-size: 32px;
}
.ingredients-list {
  list-style: square;
}

ol {
  list-style: lower-roman;
}
header > img {
  width : 100px;
}
ul li a {
  text-decoration: none;
  color: inherit;
}
body{
  background-color: wheat;
}

*{
  line-height: 1.5;
}

input, select{
  cursor: pointer;
  outline: none;
}

form input:last-child {
    background-color: gold;
}

ol li:nth-of-type(2n) {
    background-color: whitesmoke;
}

input[type="radio"] {
    -webkit-appearance: none;
    width: 27px;
    height: 27px;
    background-image: url(stars.png);
    vertical-align: bottom;
}
input[type="radio"]:checked {
  background-image: url(stars2.png);
}
