body {
  font-family: "Arial, sans-serif";
}

h1 {
  font-size: 38px;
}

h2{
  font-size: 32px;
}
.ingredients-list {
  list-style: square;
}

ol {
  list-style: lower-roman;
}
header > img {
  width : 100px;
}
ul li a {
  text-decoration: none;
  color: inherit;
}
body{
  background-color: wheat;
}
*{
  line-height: 1.5;
}
