/* PHASE 3: Content */

.content {
  background: white;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 900px;
}

.content-sidebar {
  float: left;
  width: 200px;
  padding: 20px;
}

.content-main {
  float: left;
  width: 610px;
  padding: 20px;

}

.content h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.content p {

}
